body {
  padding: 52px;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 18px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  -webkit-box-shadow: 1px 0 6px rgba(0,0,0,.3);
     -moz-box-shadow: 1px 0 6px rgba(0,0,0,.3);
          box-shadow: 1px 0 6px rgba(0,0,0,.3);
}

nav ul {
  margin: 04px;
  padding: 0;
  list-style: none;
  min-width: 200px;
}

nav li {
  display: block;
}

nav a {
  margin: 2px;
  display: block;
  padding: 2px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #999;
}

nav a {
  padding: 5px;
  text-decoration: none;
  color: #777;
}

nav a:hover {
  color: #fff;
  background-color: #999;
}

nav h1 {
  margin: 0;
  padding: 0;
  line-height: 44px;
  font-size: 1em;
}

header {
  padding-bottom: 12px;
  margin-bottom: 24px;
  text-align: center;
  background-image: url('../images/header-ornament.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

article {
  margin: 0 auto;
  padding-bottom: 48px;
  max-width: 510px;
  background-image: url('../images/footer-ornament.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

article p {
  margin: 0;
  line-height: 1.5em;
  text-indent: 3em;
}

figure {
  margin-top: 10px;
  margin-bottom: 10px;
}

figure.right {
  margin-left: 10px;
  float: right;
}

figure.left {
  margin-right: 10px;
  float: left;
}

figcaption {
  width: 180px;
  text-align: center;
  font-style: italic;
  color: grey;
}